.ev-axis path,
.ev-axis line { fill: none; stroke: #000; shape-rendering: crispEdges; }

.ev-svg {
  display: block;

  /* Only needed to override nvd3 */
  width: initial;
  height: initial;
}
.ev-line-chart { position: relative; }
.ev-chart-line, .ev-context-chart-line { fill: none; stroke-width: 1.5px; }

.ev-chart-tooltip {
  box-shadow: 0 2px 10px #aaaaaa;
  text-align: center;
  position: absolute;
  top: -10px;
  left: -10px;
  background-color: white;
  z-index: 9000;
  padding: 10px;
  display: none;
}
.ev-chart-tooltip h5 { margin: 0 0 5px 0; }
.ev-chart-tooltip hr { margin: 0; }
.ev-chart-tooltip p { margin: 5px 0 0 0; }
.ev-tooltip-circle {
  fill: transparent;
  stroke: black; 
  stroke-width: 2px;
  display: none;
}

.ev-grid .tick { stroke: lightgrey; opacity: 0.7; }
.ev-grid path { stroke-width: 0; }

.ev-context-brush rect {
  fill-opacity: 0;
}
.ev-context-brush .resize path {
  fill: #eee;
  stroke: #666;
}

.ev-context-brush-background rect {
  stroke: black;
  stroke-width: .4;
  fill: white;
  fill-opacity: .6;
}

.ev-legend {
  overflow-y: scroll;
  padding: 10px;
  margin: 0 10px 0 10px;
  border: 1px solid black;
}

.ev-legend svg { display: inline; }
.ev-legend div {
  float: left;
  padding: 0 5px 0 5px;
}
