.ev-line-chart {
  position: relative;
}

.ev-grid .tick {
  stroke: lightgrey;
  opacity: 0.7;
}
.ev-grid path {
  stroke-width: 0;
}

.ev-axis path,
.ev-axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.ev-hover-rect {
  opacity: 0;
}

.ev-context-chart {
  display: block;
}
.ev-chart-line,
.ev-context-chart-line {
  fill: none;
  stroke-width: 1.5px;
}
.ev-context-brush rect {
  fill-opacity: 0;
}
.ev-context-brush .resize path {
  fill: #eee;
  stroke: #666;
}
.ev-context-brush-background rect {
  stroke: black;
  stroke-width: .4;
  fill: white;
  fill-opacity: .6;
}

/* Default tooltip Styles */
.ev-chart-tooltip {
  box-shadow: 0 2px 10px #aaaaaa;
  text-align: center;
  position: absolute;
  background-color: white;
  z-index: 9000;
  padding: 10px;
  visibility: none;
}
.ev-chart-tooltip h5 {
  margin: 0 0 5px 0;
}
.ev-chart-tooltip hr {
  margin: 0;
}
.ev-chart-tooltip p {
  margin: 5px 0 0 0;
}
.ev-tooltip-circle {
  fill: transparent;
  stroke: black;
  stroke-width: 2px;
  opacity: 0.5;
  display: none;
}
