<h2 id='title'>EmberViz Testing</h2>
<ul id='nav-list'>
  <li>{{#link-to 'line-chart'}}Line Charts{{/link-to}}</li>
  <li>{{#link-to 'context-chart'}}Context Charts{{/link-to}}</li>
</ul>

{{outlet}}
