<div class='col-lg-6'>
  {{ev-line-chart data=chartData
               xFormat=xFormat
            xFormatter=xFormatter
   xPreformatTransform=xPreformatTransform
           showTooltip=true}}
</div>
